.section_about {
    margin-bottom: 50px;
}
  
  
.about:before {
    content: "" ;
    display: inline-block;
    vertical-align: top;
    width: 490px;
    height: 505px;
    background: url("../../img/about-us-cameraman.png") center center / cover no-repeat;
}
  
  
.about__desc {
    display: inline-block;
    border-radius: 5px;
    vertical-align: top;
    background: white;
    padding: 70px 80px;
    width: 780px;
    height: 460px;
    margin-left: -142px;
    margin-top: 100px;
}
  
  
.about__title {
    font-weight: 800;
    font-size: 36px; 
    margin-bottom: 40px;
    color: black;
}
  
 
.about__desc-text {
    margin-bottom: 60px;
    color: black;
    width: 502px;
}
  
  
.about__desc-text p {
    margin-bottom: 20px;
}
  
 
.about__desc-text p:last-child {
    margin-bottom: 0;
}