.contacts {
   padding-top: 5px;
   font-style: normal;
   text-align: right;
}

.cotacts__phone {
   padding-top: 20px;
   font-size: 26px;
   text-decoration: none;
}

.contacts__dropdown-title {
   right: 0;
   font-size: 13px;
   font-style: normal;
   text-decoration: underline;
   color: #FF3D00;
}
  
.contacts__desc {
    color: #9A9A9A;
    font-size: 11px;
}

.contacts__dropdown-title {
   position: relative;
}

.contacts__dropdown-title:hover .dropdown__menu{
   display: block;
}

.contacts__dropdown-title:hover .dropdown__item{
   color: black;
}

.dropdown__list {
   text-align: left;
}

.dropdown__menu {
   position: absolute;
   background: rgba(255, 255, 255, 0.8);
   border-radius: 10px;
   padding: 5px 10px 5px 30px;
   width: 195px;
   top: 100%;
   display: none;
   margin-top: 20px;
}

.dropdown__menu:before {
   content: '';
   position: absolute;
   right: 45px; top: -20px;
   border: 10px solid transparent;
   border-bottom: 10px solid rgba(255, 255, 255, 0.8);
}
