.footer {
    display: flex;
    justify-content: space-between;
    align-self: center;
}

 
.footer-container__content {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 27px;
}
  
  .socials__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
  
  
.socials__item:last-child {
    margin-right: 0px;
}
  
  
.socials__link {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
}
  
