.menu {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 270px;
}

  
.menu__item--active .menu-link {
    color: #DA0100;
}
  
.menu-link {
    font-size: 14px;
    color: white;
}
  
.menu-link:hover {
    color: #FF3D00;
}
  
.menu-list__item {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    margin-right: 50px;
    font-style: normal;
}

.menu-list__item:last-child {
    margin-right: 0;
}
  
.menu-list__item--active .menu-link {
    color: #FF3D00;
}
  
.menu-link {
    text-decoration: none;
}
  
.menu-list__item:hover {
    color: #FF3D00;
}

.menu__list {
    display: flex;
}
  
.menu__item:not(:last-of-type) {
    margin-right: 55px;
}