.service {
    display: flex;
    margin-bottom: 48px;
}
    
.services__img {
    width: 41%;
    margin-right: 5%;
}
    
.service__content {
    flex: 1;
}
    
.service__title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 22px;
    color: black;
}
    
.service__desc {
    line-height: 1.7;
    margin-bottom: 30px;
}