.top-line {
    min-height: 416px;
    display: flex;
    flex-direction: column;
    padding-bottom: 14px;
    background: url(../../img/top-line.png) right top no-repeat;
}
  
.top-line__container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}